language: cpp

compiler:
    - g++-4.8
    - clang++-3.5

before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - wget -O llvm.key http://llvm.org/apt/llvm-snapshot.gpg.key && sudo apt-key add llvm.key
    - sudo add-apt-repository -y 'deb http://llvm.org/apt/trusty/ llvm-toolchain-trusty-3.5 main'
    - sudo apt-get update

install:
    - if [ "$CXX" == "g++" ]; then export TEMPLATIOUS_GCC_COVERAGE="yes"; fi
    - if [ "$CXX" == "g++" ]; then sudo pip install cpp-coveralls; fi
    - if [ "$CXX" == "g++" ]; then sudo apt-get install g++-4.8 gcc-4.8 && export CXX=g++-4.8; fi
    - if [ "$CXX" == "clang++" ]; then sudo apt-get install clang-3.5 && export CXX=clang++-3.5; fi

before_script:
    - git submodule init
    - git submodule update
    - mkdir build
    - pushd build
    - cmake ..

script: make && ./a.out

after_success:
    - popd
    - if [ "$TEMPLATIOUS_GCC_COVERAGE" == "yes" ]; then coveralls --include TemplatiousLib --include build --gcov /usr/bin/gcov-4.8 --gcov-options '\-lp'; fi

env:
    - TEMPLATIOUS_DIR=$TRAVIS_BUILD_DIR/TemplatiousLib

os:
    - linux

